// Mixin para el tamaño de fuente y grosor
@mixin font-size-and-weight($size, $weight: normal) {
  font-size: $size;
  font-weight: $weight;
}
// Mixin para media queries
@mixin respond-to($breakpoint, $width: null) {
  @if $breakpoint == "small-phone" {
    @media (max-width: 479px) {
      @content;
    }
  } @else if $breakpoint == "phone" {
    @media (min-width: 480px) and (max-width: 683px) {
      @content;
    }
  } @else if $breakpoint == "tablet" {
    @media (min-width: 684px) and (max-width: 820px) {
      @content;
    }
  } @else if $breakpoint == "other" {
    @media (min-width: 821px) and (max-width: 1278px) {
      @content;
    }
  } @else if $breakpoint == "large-desktop" {
    @media (min-width: 1280px) and (max-width: 1653px) {
      @content;
    }
  } @else if $breakpoint == "custom" and $width != null {
    @media (min-width: $width) {
      @content;
    }
  } @else {
    @warn "El breakpoint '#{$breakpoint}' no está definido.";
  }
}

// Mixin buttons
@mixin button-styles(
  $bg-color,
  $text-color,
  $btn-border-color,
  $border-radius: 4px,
  $border: 2px solid $btn-border-color
) {
  background-color: $bg-color;
  color: $text-color;
  border-radius: $border-radius;
  border: $border;
  padding: 10px 20px;
  text-align: center;
  //margin-bottom: 12px;
  cursor: pointer;

  &:hover {
    color: $Secondary1;
    background-color: $Secondary2;
  }
}

// Mixin para sombras en cajas
@mixin box-shadow($x: 0, $y: 4px, $blur: 8px, $color: rgba(0, 0, 0, 0.3)) {
  box-shadow: $x $y $blur $color;
}

// Usando el mixin
.shadow-light {
  @include box-shadow();
}

.shadow-medium {
  @include box-shadow(0, 8px, 12px);
}

.shadow-strong {
  @include box-shadow(0, 12px, 24px, rgba(0, 0, 0, 0.5));
}
// limit lines
@mixin limit-lines($line-count) {
  display: -webkit-box;
  -webkit-line-clamp: $line-count;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Uso del mixin
.my-text-element {
  @include limit-lines(3); // Limita a 3 líneas
}

.another-text-element {
  @include limit-lines(5); // Limita a 5 líneas
}

// ------------------------------------------------------------

// Mixin para transiciones
@mixin transition($properties, $duration: 0.3s, $timing: ease) {
  transition-property: $properties;
  transition-duration: $duration;
  transition-timing-function: $timing;
}

// -----------------------------------------------------
// -----------------------------------------------------

// -----------------------------------------------------

// Mixin para text con efecto de trazo
@mixin text-stroke($stroke-width: 1px, $stroke-color: black) {
  -webkit-text-stroke: $stroke-width $stroke-color;
  text-stroke: $stroke-width $stroke-color;
}

// Usando el mixin
.text-with-stroke {
  @include text-stroke(2px, red);
  color: white;
  font-size: 24px;
}

.another-text-with-stroke {
  @include text-stroke();
  color: yellow;
  font-size: 30px;
}
// -----------------------------------------------------

// Mixin para rotación
@mixin rotate($degrees: 0) {
  transform: rotate(#{$degrees}deg);
}

// Usando el mixin
.rotate-45 {
  @include rotate(45);
}

.rotate-90 {
  @include rotate(90);
}

.rotate-180 {
  @include rotate(180);
}
// -----------------------------------------------------