.grid-body {
  max-width: 580px;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  align-items: center;
  grid-template-areas:
    "header"
    "wrapper"
    "footer";

  .header {
    padding: 20px 0;
    grid-area: header;
  }

  .wrapper {
    justify-self: stretch;
    align-self: stretch;
    overflow-y: auto;
    grid-area: wrapper;
    padding: 0 16px 16px;
    background-color: $Neutral01;
  }

  .footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 16px;

    div {
    display: flex;
    justify-content: center;
    align-items: center;
    }
  }
}
